@import './_variables';

@mixin widthAndHeight($width, $height) {
    width: $width;
    height: $height;
}

@mixin linkApperance() {
    text-decoration: none;
    transition: transform 0.5s text-shadow 5s;
    &:hover{
        transform: scale(1.1);
    }
}