@import './_variables';

@mixin widthAndHeight($width, $height) {
    width: $width;
    height: $height;
}

@mixin linkApperance() {
    text-decoration: none;
    transition: transform 0.5s text-shadow 5s;
    &:hover{
        transform: scale(1.1);
    }
}

@mixin horizontalVerticalAlign($horizontal, $vertical){
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin textApperance($family, $size, $color){
    font-family: $family;
    font-size: $size;
    color: $color;
}

@mixin backgroundApperance($url, $bgcColor, $size, $repeat, $position){
    background: $url $bgcColor;
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}