@import './_variables';
@import './_functions';
@import './_animations';

#quizContainer{
    @include widthAndHeight(100%, 90vh);
    @include backgroundApperance(url(../images/geoPurple.png), $backLight, 120%, no-repeat, top);
    @include horizontalVerticalAlign(center, center);
    flex-direction: column;
    @include textApperance(inherit, initial, $font_color_dark);
    h1{
        background-color: $backLight;
        font-size: $font_size_quiz_title;
        margin-bottom: 2%;
    }
    h2{
        background-color: $backLight;
        font-size: $font_size_quiz_s_title;
        margin-bottom: 1%;
    }
    #altContainer{
        @include textApperance(inherit, $font_size_quiz_alt, $font_color_light);
        @include widthAndHeight(50%, 60%);
        background-color: $backLight;
        border: 5px solid $borderColorLight;
        border-radius: 4px;
        box-shadow: inset 0 0 15px $shaddowColor;
        @include horizontalVerticalAlign(space-evenly, center);
        flex-direction: row;
        flex-wrap: wrap;
        .alternatives{
            @include widthAndHeight(40%, 20vh);
            background-color: $SecondaryColor;
            background-size: 150% 150%;
            box-shadow: 0 0 10px $shaddowColor;
            border-radius: 4px;
            text-align: center;
            @include horizontalVerticalAlign(center, center);
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
        #result{
            @include widthAndHeight(100%, 100%);
            //background-image: url(../images/cucumber.jpg); //fix with js
            background-size: cover;
            background-position: center;
        }
        .hidden-class { display: none; }
        .shown-class { display: inline; }
    }
}