$MainColor: #6f2da8;
$SecondaryColor: #d1357b;
$backLight: #ffffff;
$backDark: #000000;

$font_size_header: 2vw;
$font_size_quiz_title: 70px;
$font_size_quiz_s_title: 40px;
$font_size_quiz_link: 30px; 
$font_size_quiz_alt: 30px;
$main_font: 'Roboto', sans-serif;
$font_color_dark: #000000;
$font_color_light: #ffffff;