$MainColor: #6f2da8;
$SecondaryColor: #d1357b;

$backLight: #ffffff;    //colors for backgrounds
$backDark: #000000;

$shaddowColor: #000000;

$borderColorLight: #cacaca;

$font_size_header: 2vw;
$font_size_quiz_title: 70px;
$font_size_quiz_s_title: 40px;
$font_size_quiz_link: 30px; 
$font_size_quiz_alt: 30px;
$font_size_body: 20px;
$font_size_about_title: 100px;
$font_size_footer: 15px;

$main_font: 'Roboto', sans-serif;

$font_color_dark: #000000;
$font_color_light: #ffffff;

