@import './_variables';
@import './functions';
*{
    margin: 0;
    box-sizing: border-box;    
}
header{
    @include widthAndHeight(100%, 10vh);
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font_size_header;
    font-family: $main_font;
    p{
        margin-left: 2%;
        margin-right: auto;
        @include widthAndHeight(auto, auto);
    }
    a{
        margin-right: 2%;
        @include widthAndHeight(auto, auto);
        @include linkApperance();
    }
    :last-child{
        margin-right: 10%;
    }
}
#mainContent{
    @include widthAndHeight(100%, 65vh);
    background-color: $SecondaryColor;
}
#aboutUs{
    @include widthAndHeight(100%, 60vh);
    background-color: $MainColor;
}
footer{
    @include widthAndHeight(100%, 40vh);
    background-color: greenyellow;
}