@import './_colors';

*{
    margin: 0;
    box-sizing: border-box;    
}
header{
    width: 100%;
    height: 20vh;
    background-color: $SecondaryColor;
}
#mainContent{
    width: 100%;
    height: 65vh;
    background-color: $SecondaryColor;
}
#aboutUs{
    width: 100%;
    height: 60vh;
    background-color: $MainColor;
}
footer{
    width: 100%;
    height: 40vh;
    background-color: greenyellow;
}