@import './_variables';
@import './_functions';
@import './_animations';
@import './_quiz';
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $main_font;
}
header{
    @include widthAndHeight(100%, 10vh);
    background-color: $MainColor;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font_size_header;
    font-family: $main_font;
    p{
        color: $font_color_light;
        margin-left: 2%;
        margin-right: auto;
        @include widthAndHeight(auto, auto);
    }
    a{
        color: $font_color_light;
        margin-right: 2%;
        @include widthAndHeight(auto, auto);
        @include linkApperance();
    }
    :last-child{
        margin-right: 2%;
    }
}
#mainContent{
    @include widthAndHeight(100%, 90vh);
    background-color: $backDark;
    background-image: url(../images/geoPurple.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $font_color_light;
    h1{
        margin-bottom: 60px;
        font-size: $font_size_quiz_title;
    }
    p{
        font-size: $font_size_quiz_s_title;
        margin-bottom: 60px;
    }
    a{
        font-size: $font_size_quiz_link;
        color: $font_color_light;
        text-align: center;
        text-decoration: none;
        border-radius: 50px;
        width: 400px;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        background: linear-gradient(270deg, #ff6622, #ff27e9);
        background-size: 200% 200%;
        animation-name: backgroundShift;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-play-state: paused; 
        transition: transform 0.5s;
        &:hover{
            animation-play-state: running; 
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

#aboutUs{
    @include widthAndHeight(100%, 90vh);
    background: url(../images/geo.png) $backLight;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: top;
    color: $font_color_dark;
    h1{
        background-color: $backLight;
        color: $SecondaryColor;
        font-size: ($font_size_h1 + 30px);
        @include widthAndHeight(auto, auto);
        padding-top: 2%;
        margin-left: 2%;
    }
    p{
        font-weight: 600;
        background-color: $backLight;
        line-height: 2em;
        font-size: 22px;
        margin: 15%;
        margin-top: 8%;
        @include widthAndHeight(70%, auto);
    }
}
footer{
    @include widthAndHeight(100%, 10vh);
    background-color: $MainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $main_font;
    a{
        background-color: $backLight;
        color: $MainColor;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        @include linkApperance();
    }
}



